<div class="border border-gray-300 rounded-md p-4 shadow-md bg-white flex flex-col justify-between min-h-[400px]">
  <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 flex flex-col h-full">
    <a href="#" class="block rounded-t-lg overflow-hidden h-[430px]">
      <img
        class="w-full h-full object-cover  duration-300 hover:scale-105"
        [src]="product.image"
        [alt]="product.title"
        loading="lazy"
      />
    </a>

    <div class="p-5 flex flex-col flex-grow">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          {{ product.title }}
        </h5>
      </a>
      <p class="mb-3 flex-grow font-normal text-gray-700 dark:text-gray-400">
        {{ product.description }}
      </p>

      <button
        (click)="onAddToCart()"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [attr.aria-label]="'Add ' + product.title + ' to cart'"
      >
        Add to Cart
       
        
       
      </button>
    </div>
  </div>
</div>
